@page "/profile"

<h3>Student Profile</h3>

<!-- Display student photo -->
<img src="images/student.png" alt="Student Photo" width="200" style="border-radius:10px;" />

<p><strong>Student name:</strong> @studentName</p>
<p><strong>Course name:</strong> @courseName</p>
<p><strong>Batch Year:</strong> @batchYear</p>

@code {
    string photoPath = "images/student.png";   
    string studentName = "Samman Khanal";
    string courseName = ".NET MAUI Hybrid Training";
    string batchYear = "2025";
}
